@page "/start"
@using Microsoft.Extensions.Logging
@using Models

@inject ILogger<ProfileModel> Logger


<EditForm Model="@profile" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText class="form-control" aria-describedby="emailHelp" placeholder="Enter email" id="name" @bind-Value="profile.URL" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private ProfileModel profile = new ProfileModel();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
    }
}